.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.loading {
  height: calc(100vh - 342px);
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}
